/* styles.css */
:root {
  --light-blue: #93b5c6;
  --dark-blue: #5ea0c2;
  --dark-grey: #c9ccd5;
  --light-grey: #e4d8dc;
  --pink: #ffe3e3;
  --dark-pink: #df4d4d;
  --dark-color: #111111;
}
@font-face {
  font-family: "BebasNeue";
  src:
    url("./fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("./fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
  font-family: "BebasNeue", Arial, Helvetica, sans-serif;
}
body {
  background-color: var(--light-grey);
  color: var(--dark-color);
}
header {
  background-color: var(--pink);
  height: 180px;
  display: grid;
  grid-template-columns: 300px 1fr;
  box-shadow: 1px 1px 10px 2px var(--dark-color);
}
.logo-container {
  display: grid;
  grid-template-columns: 50px 1fr;
  height: 50px;
  grid-column: 1/2;
  grid-row: 1/-1;
  place-items: center;
  place-self: center;
  margin: 10px;
  padding: 0 5px;
  background-color: var(--dark-grey);
  border: 2px solid var(--light-blue);
  corner-shape: squircle;
  border-radius: 90px;
}
.logo-icon {
  width: 50px;
}
.logo-title {
  font-size: 1.6rem;
}
.search-container {
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-rows: 30px 1fr 50px;
}
.error {
  font-size: 1.2rem;
  grid-row: 1/2;
  color: var(--dark-pink);
  text-align: center;
  align-self: flex-end;
}
.button-container {
  place-self: center;
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}
button {
  place-self: center;
  font-size: 1rem;
  padding: 5px 20px;
  background-color: var(--light-blue);
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 6px var(--dark-color);
  transition: all 0.2s ease-in-out;
}
button:hover {
  background-color: var(--dark-blue);
  transform: translateY(-4px);
  box-shadow: 2px 4px 4px var(--dark-color);
}
button:active {
  background-color: var(--dark-grey);
  transform: translateY(-2px);
  box-shadow: 2px 3px 6px var(--dark-color);
}
#search-form {
  place-self: center;
  display: grid;
  gap: 10px;
}
.temp-unit-container {
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  place-self: center;
  width: 150px;
}
.container {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(7, 50px);
  gap: 20px;
  font-size: 1.5rem;
}
.temperature-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.weather-icon {
  width: 50px;
}

/* APPLE LIKE INPUT */
.city-input-container {
  width: 400px;
  position: relative;
}
.city-input-container input {
  width: 100%;
  padding: 20px 50px 10px 10px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.1em;
  outline: none;
}
.city-input-container label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 10px;
  color: grey;
  pointer-events: none;
  transition: all 0.4s ease;
}
/* the second one targets if the input has something different than the placeholder of "" this
    is done so that when there is an input it moves up and works for inputs that aren't required */
.city-input-container input:focus ~ label,
.city-input-container input:not(:placeholder-shown) ~ label {
  transform: translateY(-33px);
  font-size: 0.8em;
}
